[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
jsonpointer = "*"
shapely = "*"
dacite = "*"
azure-storage-blob = "*"
pypdfium = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
