@import '../../../assets/sass/theme.scss';

.app-survey-link-anchor {
    color: #ccc;
    font-size: 0.80em;
    white-space: nowrap;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
}
