@import "../../../assets/sass/theme.scss";
@import "../common/common.scss";

.container {
    padding: 2rem 3rem;
    .header {
        margin-top: 2rem;
    }
    .description {
        color: rgba(255, 255, 255, 0.6);
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    h3,h6 {
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    h6 {
        margin-bottom: 0;
    }
    .shortcuts-list {
        overflow-y: auto;
        height: 14rem;

        .shortcut {
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            margin: 0.5rem 0;

            &-description {
                align-self: center;
                margin-bottom: .5rem;
                margin-right: .125rem;
                width: 70%;
            }
            &-keys {
                margin-right: auto;
                margin-right: .5rem;
                width: 30%;
                .keyboard-modifier {
                    margin: 0 0.5rem;
                }
                .keyboard-key {
                    display: inline-flex;
                    align-items: center;
                    color: rgba(255, 255, 255, 0.7);;
                    background: rgba(49, 52, 58, 0.79);
                    font-weight:600;
                    height: 2rem;
                    margin-bottom: 0.5rem;
                    padding: 0 1rem;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
    .tips-list {
        overflow-y: auto;
    }
}

.shortcuts-modal-button {
    padding: 6px 8px;
    color: #ccc;
    display: inline-block;

    &:hover {
        color: #fff;
        background-color: $lighter-2;
        cursor: pointer;
    }
}
.close-modal {
    float: right;
    color: #fff;

    &:hover {
        color: $lighter-5;
        cursor: pointer;
    }
}
