@import '../../../../assets/sass/theme.scss';

.model-select {
  margin: 5px 0 5px 0;
}

.predict {
  overflow: hidden;
}

.predict-main {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  > i {
    font-size: 36pt;
  }
}

.predict-sidebar {
  height: 100%;
  width: 400px;
  min-width: 400px;
}

.input-disabled {
  color: #bbb;
  background-color: white;
}

.sidebar-content {
  height: calc(100vh - 89px);
  overflow-y: auto;
}





.sourceDropdown {
  width: 95px;
  margin-bottom: 10px;
}

.predict-button {
  margin-bottom: 20px;
}

.no-models-warning {
  margin-top: 8px;
}

.model-selection-container {
  padding-top: 8px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.model-selection-header {
  margin-bottom: 4px;
}

.model-selection-info-header {
  margin-bottom: 0px;
}

.model-selection-info-key {
  font-size: 12px;
  color: #d1d1d1;
  min-width: 80px;
  float: left;
}

.model-selection-info-value {
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #d1d1d1;
  float: left;
}
