.model-info-container {
    h5 {
        margin-bottom: 0.25rem;
    }
    margin-bottom: 1rem;
    .model-info-item {
        .title {
            margin-right: 0.5rem;
            font-weight: 500;
        }
    }
}
