@import '../../../../assets/sass/theme.scss';

.map-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
  }
  
  .map {
    background-color: Gainsboro;
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

.toolbar-btn {
  margin: 5px;
  width: 48px;
  height: 48px;
  outline: none;

  background-color: transparent;
  border: none;
  color: #CCC;

  &:hover, &.active {
      background-color: $lighter-2;
      border: solid 1px $lighter-3;
  }

  &:active {
      background-color: $darker-2;
  }
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 10px;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
}

.page-number {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  color: white;
  text-shadow:
     1px  1px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  text-align: center;
  font-size: 18px;
  font-family: fantasy;
}

.canvas-ocr-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
}

.canvas-ocr-loading-spinner {
  margin:auto;
  font-size: 24px;
}

.tooltip-container {
  width: 100%;
  height: 100%;
}
