@import '../../../../assets/sass/theme.scss';

.editor-page-content-main-header {
    padding: 5px;

    .btn-group {
        border-right: solid 1px $lighter-2;
        padding-right: 10px;
    }

    .toolbar-btn {
        width: 40px;
        height: 40px;
        margin: 0;
        outline: none;

        background-color: transparent;
        border: none;
        color: #CCC;

        &:hover, &.active {
            background-color: $lighter-2;
            border: solid 1px $lighter-3;
        }

        &:active {
            background-color: $darker-2;
        }
    }
}
