@import "../../../../assets/sass/theme.scss";
@import "../../common/common.scss";

.viewed-table {
    margin-top: 4%;
    margin-bottom: 4%;
    border: 1px solid white;
    td {
        border: 0.5px solid white;
        min-width: 20px;
        padding-left: 2px;
        padding-right: 2px;
    }

}

td:empty::after {
    content: "\00a0";
}

.close-modal {
    right: 0px;
    top: 0px;
    padding-right: 5px;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    position: absolute;
    color: #fff;
    &:hover {
        color: $lighter-5;
        cursor: pointer;
    }
}

.table-view-container {
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
