@import "../../../../assets/sass/theme.scss";
@import "../../common/common.scss";

.viewed-table {
    margin: 4vh 0;
    border: 1px solid rgba(255,255,255, 0.9);
    td {
        border: 0.6px solid rgba(255,255,255, 0.7);
        min-width: 30px;
        padding: 0 10px 0 4px;
    }
    td:empty::after {
        content: "\00a0";
    }

}

.close-modal {
    right: 0px;
    top: 0px;
    padding: 2px 5px 5px;
    position: absolute;
    color: #fff;
    &:hover {
        color: $lighter-5;
        cursor: pointer;
    }
}

.table-view-container {
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
