@import "../../../../assets/sass/theme.scss";
@import "./tagInputSize.scss";


.config-view_container {
    padding: 0 2rem 0 0rem;
    margin-left: .5rem;
    h5, h4 {
        margin-left: 12px;
    }

    .table-name_input {
        width: 100%;
        padding-right: 18px;
    }

    .row-name_input, .column-name_input {
        input::placeholder {
            color: $darker-2;
          }
    }

    .columns_container {
        margin-top: 2rem;
        margin-bottom: 4rem;
        .columns-list_container {
        }
    }

    .rows_container {
      .rows-list_container {
          display: flex;
          width: 100%;
          flex-direction: column;
      }
    }

    .add_button {
        margin-top: .5rem;
        margin-left: 0px;
    }

    .control-buttons_container {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-right: .5rem;
        justify-content: flex-end;
        .save {
            margin-left: 1rem;
        }
    }

    .preview_container {
        margin-top: 2rem;
        .table {
            td, th {
                border: 2px solid #8D8D8D;
                min-width: 30px;
                // padding: 0.5rem 1rem;
                color: white;
                padding: 0;
                margin: 0;
            }
            .column_header {
                background-color: $lighter-4;
                border: 2px solid grey;
                text-align: center;
                padding: .125rem .25rem;
            }
            .row_header {
                background-color: $lighter-2;
                border: 2px solid grey;
                text-align: center;
                padding: .125rem .5rem;
                min-width: 0;
            }
            .empty_header {
                border: 2px solid grey;
                background-color: $lighter-1;
            }
            .table-cell {
                text-align: center;
                background-color: $darker-3;
                color: rgba(255, 255, 255, 0.75);
            }
        }


    }


}

.rows-list_container {
    width: 360px;
}


// ========= utility classes
.ml-12px {
    margin-left: 12px;
}

  .ms-TextField-errorMessage {
      padding: 0 0 .25rem .25rem;
    span {
        color: #db7272;
    }
}

 .ms-DetailsRow-cellCheck {
    display: flex;
    width: 22px;
    height: 28px;
    margin-right: -12px;
    margin-top: 8px;
 }
