@import "../../../../assets/sass/theme.scss";
@import "./tagInputSize.scss";


.config-view_container {
    padding: 0 2rem 0 0rem;
    margin-left: .5rem;
    h5, h4 {
        margin-left: 12px;
    }

    .table-name_input {
        width: 100%;
        padding-right: 18px;
    }

    .columns-list_container, .rows-list_container  {
            background-color: $darker-2;
    }

    .row-name_input, .column-name_input {
        input::placeholder {
            color: $darker-2;
          }
    }

    .columns_container, .rows_container {
        margin-top: 2rem;
        margin-bottom: 4rem;
        width: 100%;
        h5 {
            margin-left: 0;
        }
    }

    .list_header {
        .list-headers {
        &_name {
            text-align: left;
            margin-left: -8px;
        }
        &_type {
            text-align: left;
            margin-right: 20px;
            margin-left: 4px;
        }
        &_format {
            text-align: left;
        }
    }
}

    .add_button {
        margin-top: 1rem;
        margin-left: 0px;
        width: 140px
    }

    .control-buttons_container {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-right: .5rem;
        justify-content: flex-end;
        .save {
            margin-left: 1rem;
        }
    }


    .preview_container {
        margin-top: 2rem;
        h5 {
            margin-left: 0;
        }
        .table_container {
            overflow: auto;
            .table {
                td, th {
                    border: 2px solid #8D8D8D;
                    color: white;
                    padding: 0;
                    margin: 0;
                }
                .column_header {
                    min-width: 130px;
                    background-color: $lighter-3;
                    border: 2px solid grey;
                    text-align: center;
                    padding: .125rem .25rem;
                    height: 1.5rem;
                }
                .row_header {
                    min-width: 130px;
                    background-color: $lighter-3;
                    border: 2px solid grey;
                    text-align: center;
                    padding: .125rem .5rem;
                }
                .empty_header {
                    border: 2px solid grey;
                    background-color: $lighter-3;
                }
                .table-cell {
                    text-align: center;
                    background-color: $darker-3;
                    color: rgba(255, 255, 255, 0.75);
                    height: 1.5rem;
                }
                .hidden {
                    border: none;
                    font-size: small;
                    font-weight: 300;
                    background-color: transparent;
                    text-align: right;
                    vertical-align: middle;
                    color: rgba(255, 255, 255, 0.45);
                    width: 3rem;
                    padding-right: 0.4rem;
                }
            }
        }
        .rowDynamic_message {
            margin-bottom: 6px;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}



// ========= utility classes
.ml-12px {
    margin-left: 12px;
}

  .ms-TextField-errorMessage {
      padding: 0 0 .25rem .25rem;
    span {
        color: #db7272;
    }
}

 .ms-DetailsRow-cellCheck {
    display: flex;
    width: 22px;
    height: 28px;
    margin-right: -12px;
    margin-top: 6px;
 }

 .renamed-header {
    text-decoration: line-through;
    color: rgb(177, 177, 177);
 }
