
@import "../../../../assets/sass/theme.scss";

.table-labeling_container {
    .labeling-guideline {
        margin: 1rem 1rem 2rem 1.75rem;
        color: rgba(255, 255, 255, 0.6);
        }
        .table-name {
            span {
                padding-bottom: .2rem;
            }
        }
    .table-view-container {
        overflow: auto;
        margin: 1rem;

        .viewed-table {
            margin-bottom: 1rem;
            .column_header {
                min-width: 130px;
                max-width: 200px;
                background-color: $lighter-3;
                border: 2px solid grey;
                text-align: center;
                padding: .125rem .25rem;
            }
            .row_header {
                min-width: 130px;
                max-width: 200px;
                border: 2px solid grey;
                background-color: $lighter-3;
                text-align: center;
                padding: .125rem .5rem;
            }
            .empty_header {
                border: 2px solid grey;
                background-color: $lighter-3;

            }
            .table-cell {
                text-align: center;
                background-color: $darker-3;
                color: rgba(255, 255, 255, 0.75);
                &:hover {
                    background-color: $lighter-1;
                }
                &:active {
                    background-color: $lighter-2;

                }
            }


        }
    }
    .buttons-container {
        display: flex;
        margin:1rem;
        margin-left: 1.75rem;
        justify-content: space-between;
        button {
            width: 160px;
        }
    }
}

