@import "../../../../assets/sass/theme.scss";
@import "./tagInputSize.scss";


.config-view_container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 0 .5rem;
    background-color: $darker-2;
    h5, h4 {
        margin-left: 12px;
    }

    .table-name_input {
        width: 100%;
        padding-right: 18px;
    }

    .columns_container {
        margin-top: 4rem;
        margin-bottom: 4rem;
        .columns-list_container {
        }
    }


    .rows_container {
      .rows-list_container {
      }
    }

    .add_button {
        margin-top: .5rem;
    }

    .control-buttons_container {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-right: .5rem;
        justify-content: flex-end;
        .save {
            margin-left: 1rem;
        }
    }


}

.rows-list_container {
    width: 360px;
}


// ========= utility classes
.ml-12px {
    margin-left: 12px;
}

