
@import "../../../../assets/sass/theme.scss";

.table-labeling_container {
    overflow: auto;
    .labeling-guideline {
        margin: 1rem 1rem 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.6);
        }
        .table-name {
            span {
                padding-bottom: .2rem;
                margin-left: 1.25rem;
            }
        }
        .add-row-button_container {
            margin-left: 1.5rem;
            margin-bottom: 3rem;
            margin-top: -.75rem;
        }
        .table-view-container {
        overflow: auto;
        margin: 1rem;
        margin-left: .75rem;
        margin-right: 1.5rem;
        max-height: 57.5vh;
        .viewed-table {
            margin-bottom: 1rem;
            .column_header {
                min-width: 130px;
                max-width: 200px;
                background-color: $lighter-3;
                border: 2px solid grey;
                text-align: center;
                padding: .125rem .25rem;
            }
            .row_header {
                min-width: 130px;
                max-width: 200px;
                border: 2px solid grey;
                background-color: $lighter-3;
                text-align: center;
                padding: .125rem .5rem;
            }
            .empty_header {
                border: 2px solid grey;
                background-color: $lighter-3;

            }
            .table-cell {
                text-align: center;
                background-color: $darker-3;
                color: rgba(255, 255, 255, 0.75);
                &:hover {
                    background-color: $lighter-1;
                }
                &:active {
                    background-color: $lighter-2;

                }
            }
            .hidden {
                // background-color:red;
                // display: none;
                visibility:hidden;
                min-width: 0;
                max-width: 0;
                border: none;
                padding: 0;
            }
        }
    }
    .buttons-container {
        display: flex;
        margin: 1rem;
        margin-left: 1.5rem;
        justify-content: space-between;
        button {
            width: 160px;
        }
        .button-reconfigure {
            margin-right: .5rem;
        }
    }
}

