@import "../../../../index.scss";

.tag-input-toolbar-icon-unselected {
    color: $lighter-2;
    cursor: not-allowed;
}

.tag-tool-bar-vertical-line {
    width: 0.1px;
    border: 0.5px solid $lighter-2;
    height: 18px;
    margin: 0px 5px 0px 0px;
}

