@import "../../../../assets/sass/theme.scss";

.project-settings-page {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 600px;

  &-settings {
    flex-grow: 1;
  }

  &-metrics {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 20%;
      max-width: 50%;

    .loading {
      margin-top: calc(50% + 6rem);
        .ms-Spinner-circle{
            height: 12rem;
            width: 12rem;
        }
    }

    p {
      font-size: 90%;
    }
  }

    .rv-discrete-color-legend-item__color {
        height: .25rem;
        margin-right: .25rem;
    }

  svg {
    text {
      fill: #fff;
      font-weight: 400;
    }
  }

  .asset-chart {
      font-size: 90%;
      padding: 1rem;

    @media (max-width: 1920px) {
        display: flex;
        align-items: center;
    }

    .hint-content {
      display: flex;
      color: #fff;
      background: #000;
      align-items: center;
      padding: 5px;

      &-box {
        height: 10px;
        width: 10px;
      }
    }

    .rv-sunburst {
      margin: 0 auto;
    }

    .rv-hint {
        white-space: nowrap;
    }
  }

  .tag-chart {
      overflow-x: auto;
    line {
      stroke: $lighter-5;
    }
  }
    .vertical-bars-labels {
        color: #00a1f1;
        background-color: red;

    }
}


.assetCount {
    display: flex;
    align-items: center;
}
