.page-range {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    .page-range-text {
        flex: 1;
        input[name="pagerange"] {
            width: 100%;
            height: 32px;
        }
        .page-range-alert {
            border: 1px solid #ffffff;
        }
    }
    .ms-Checkbox {
        height: 32px;
        display: flex;
        align-items: center;
        label {
            margin: auto;
        }
    }
}
