@import "../../../../assets/sass/theme.scss";

.predict {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 10px; // Not sure why it helps
    &-main {
        position: relative;
        display: flex;
        flex-grow: 1;
        height: 100%;
        justify-content: center;
        > i {
            font-size: 36pt;
        }
    }

    &-sidebar {
        height: 100%;
        display: flex;
        width: 400px;
        min-width: 400px;
    }
    &-button {
        margin-bottom: 20px;
    }
}

.input-disabled {
    color: #bbb;
    background-color: white;
}

.seperator {
    margin: 20px 10px;
    position: relative;
    background-color: inherit;
    width: 45%;
    display: inline-block;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        border-top: 1px solid white;
        background: white;
        width: 100%;
        transform: translateY(-50%);
    }
}

.prebuilt-type-dropdown,
.sourceDropdown {
    width: 95px;
    margin-bottom: 10px;
}

.apikeyContainer {
    display: flex;
    margin-bottom: 30px;
}

.apikey {
    width: 100%;
}
