.modelCompose-page {
    width: calc(100vw - 45px);
    height: calc(100vh - 34px);
    overflow: auto;
}

.models-list {
    width: 100%;
    overflow-x: visible;
} 

.compact-toggle {
    color: white;
    margin: 2px 10px;
}

.commandbar {
    z-index: 1;
    top: 0;
    position: sticky;
}

.compose-spinner {
    color: white;
    height: 70vh;
}

.composed-icon-cell {
    text-align: left;
}

.model-fontIcon {
    text-align: left;
}

.blink-field {
    width: calc(100vw - 45px);
    height: 80px;
    font-size: x-large;
    position: absolute;
    bottom: 24px;
    text-align: center;
    z-index: 1;
    background-color: #1E2024;
    padding-left: 20px;
    padding-top: 15px;
}

.label-filter-background {
    background-color: #1E2024;
    padding-bottom: 10px;
}

.label-filter-field {
    margin-left: auto; 
    margin-right: 15px;
    background-color: #1E2024;
    max-width: 300px;
    width: 100%;
}

.filter-item {
    width: 200px;
}

.commandbar-filter {
    background-color: #1E2024;
    display: flex;
    justify-items: center;
    align-self: center;
    width: 300px;
}

.spinner-item {
    width: 300px;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
}

.commandbar-spinner {
    color: white;
}
